:root{
    // background-colors : 5
    --primary-color: #FFFFFF;
    --secondary-color: #F2F7FF;
    --tertiary-color: #377DFF;
    --quaterny-color: #1E1E1E;
    --quinary-color: #00000026;

    // text colors: 9
    --primary-colortext: #FFFFFF;
    --secondary-colortext: #6CDAC1;
    --tertiary-colortext: #377DFF;
    --quaterny-colortext: #FF796D;
    --quinary-colortext: #8E989F;
    --senary-colortext: #495057;
    --septenary-colortext: #1E161E;
    --otonary-colortext: #000000;
    --nonary-colortext: #000000E6;

    // border colors: 7
    --primary-colorborder: #FFFFFF;
    --secondary-colorborder: #EFF1FE;
    --tertiary-colorborder: #377DFF;
    --quaterny-colorborder: #00000008;
    --quinary-colorborder: #0000000D;
    --senary-colorborder: #00000014;
    --septenary-colorborder: #1E161E;

    // container
    

}