@import '~bootstrap/scss/bootstrap.scss';
@import './variable';
@import './typography';

.container{
    max-width: 1000px !important;
}
// button
.btn-primary{
    background-color: var(--tertiary-color);

}

.btn-primary:hover{
    background-color: var(--quaterny-color);
    color: var(--primary-colortext);

}

